pipeline/getdatabasetables.json
{
	"name": "getdatabasetables",
	"properties": {
		"activities": [
			{
				"name": "fileterrelatedsalestables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getdatabasetables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getdatabasetables').output.Value",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith( item().Table_Name,'[SalesLT]')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getsalesLTtable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "fileterrelatedsalestables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('fileterrelatedsalestables').output.Value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "foreachsalesLTtables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM @{item().Table_Name}\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "getdbtables",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "blobstorage20201015",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "getdatabasetables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT QUOTENAME(table_Schema)+'.'+QUOTENAME(TABLE_NAME) AS Table_Name \n   FROM information_Schema.tables",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "getdbtables",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "gettablesfromDBwritetoblob"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-14T02:33:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}