pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "fileread",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "azsourceblobds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"itemType",
						"size",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SPToGetMetadata",
				"description": "This proc used to get the data from metadata.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "fileread",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[STORE_FILEMETADATA]",
					"storedProcedureParameters": {
						"FileName": {
							"value": {
								"value": "@activity('fileread').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastModifiedDate": {
							"value": {
								"value": "@activity('fileread').output.lastModified",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecInsertDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "az_sqldb_20201007",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "storemetadatadb"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-12T02:43:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}