sandeepdatafactorydemo/PartialArmTemplates/ArmTemplate_10_16_2020_8_8_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sandeepdatafactorydemo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/copydbtables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Use to copy the tables from one DB to other DB.",
				"activities": [
					{
						"name": "ForEach_c33",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_c33",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "SalesLT.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "SalesLT.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_c33",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_c33",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "Address"
								},
								"destination": {
									"table": "Address"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "AddressID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "AddressID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "AddressLine1",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "AddressLine1",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "AddressLine2",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "AddressLine2",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "City",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "City",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "StateProvince",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "StateProvince",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CountryRegion",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "CountryRegion",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "PostalCode",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "PostalCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Customer"
								},
								"destination": {
									"table": "Customer"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "PasswordHash",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "PasswordHash",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "PasswordSalt",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "PasswordSalt",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LastName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "LastName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Suffix",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Suffix",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CompanyName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "CompanyName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "SalesPerson",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "SalesPerson",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "EmailAddress",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "EmailAddress",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Phone",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Phone",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CustomerID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "CustomerID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "NameStyle",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "NameStyle",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "Title",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Title",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "FirstName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "FirstName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "MiddleName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "MiddleName",
													"type": "String"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "CustomerAddress"
								},
								"destination": {
									"table": "CustomerAddress"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "CustomerID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "CustomerID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "AddressID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "AddressID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "AddressType",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "AddressType",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Product"
								},
								"destination": {
									"table": "Product"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Name",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "ProductNumber",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ProductNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Color",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Color",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "StandardCost",
													"type": "Decimal",
													"physicalType": "money"
												},
												"sink": {
													"name": "StandardCost",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "ListPrice",
													"type": "Decimal",
													"physicalType": "money"
												},
												"sink": {
													"name": "ListPrice",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "DiscontinuedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "DiscontinuedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "ThumbNailPhoto",
													"type": "Byte[]",
													"physicalType": "varbinary"
												},
												"sink": {
													"name": "ThumbNailPhoto",
													"type": "Byte[]"
												}
											},
											{
												"source": {
													"name": "ThumbnailPhotoFileName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ThumbnailPhotoFileName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "Size",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Size",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Weight",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "Weight",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "ProductCategoryID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductCategoryID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ProductModelID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductModelID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "SellStartDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "SellStartDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "SellEndDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "SellEndDate",
													"type": "DateTime"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "ProductCategory"
								},
								"destination": {
									"table": "ProductCategory"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductCategoryID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductCategoryID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ParentProductCategoryID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ParentProductCategoryID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Name",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "ProductDescription"
								},
								"destination": {
									"table": "ProductDescription"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductDescriptionID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductDescriptionID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Description",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Description",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "ProductModel"
								},
								"destination": {
									"table": "ProductModel"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductModelID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductModelID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Name",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CatalogDescription",
													"type": "String",
													"physicalType": "xml"
												},
												"sink": {
													"name": "CatalogDescription",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "ProductModelProductDescription"
								},
								"destination": {
									"table": "ProductModelProductDescription"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductModelID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductModelID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ProductDescriptionID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductDescriptionID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Culture",
													"type": "String",
													"physicalType": "nchar"
												},
												"sink": {
													"name": "Culture",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "SalesOrderDetail"
								},
								"destination": {
									"table": "SalesOrderDetail"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "LineTotal",
													"type": "Decimal",
													"physicalType": "numeric"
												},
												"sink": {
													"name": "LineTotal",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "SalesOrderID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "SalesOrderID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "SalesOrderDetailID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "SalesOrderDetailID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "OrderQty",
													"type": "Int16",
													"physicalType": "smallint"
												},
												"sink": {
													"name": "OrderQty",
													"type": "Int16"
												}
											},
											{
												"source": {
													"name": "ProductID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "UnitPrice",
													"type": "Decimal",
													"physicalType": "money"
												},
												"sink": {
													"name": "UnitPrice",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "UnitPriceDiscount",
													"type": "Decimal",
													"physicalType": "money"
												},
												"sink": {
													"name": "UnitPriceDiscount",
													"type": "Decimal"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "SalesOrderHeader"
								},
								"destination": {
									"table": "SalesOrderHeader"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "SalesOrderID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "SalesOrderID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "RevisionNumber",
													"type": "Byte",
													"physicalType": "tinyint"
												},
												"sink": {
													"name": "RevisionNumber",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "OrderDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "OrderDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "DueDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "DueDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "ShipDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ShipDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "Status",
													"type": "Byte",
													"physicalType": "tinyint"
												},
												"sink": {
													"name": "Status",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "TotalDue",
													"type": "Decimal",
													"physicalType": "money"
												},
												"sink": {
													"name": "TotalDue",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "Comment",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Comment",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid",
													"physicalType": "uniqueidentifier"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "BillToAddressID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "BillToAddressID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ShipMethod",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ShipMethod",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CreditCardApprovalCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "CreditCardApprovalCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "SubTotal",
													"type": "Decimal",
													"physicalType": "money"
												},
												"sink": {
													"name": "SubTotal",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "TaxAmt",
													"type": "Decimal",
													"physicalType": "money"
												},
												"sink": {
													"name": "TaxAmt",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "Freight",
													"type": "Decimal",
													"physicalType": "money"
												},
												"sink": {
													"name": "Freight",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "OnlineOrderFlag",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "OnlineOrderFlag",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "SalesOrderNumber",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "SalesOrderNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "PurchaseOrderNumber",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "PurchaseOrderNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "AccountNumber",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "AccountNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CustomerID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "CustomerID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ShipToAddressID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ShipToAddressID",
													"type": "Int32"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							}
						]
					}
				},
				"folder": {
					"name": "TablesTransferFromDBtoDB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_c33')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_c33')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getdatabasetables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fileterrelatedsalestables",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "getdatabasetables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getdatabasetables').output.Value",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith( item().Table_Name,'[SalesLT]')\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "getsalesLTtable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "fileterrelatedsalestables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('fileterrelatedsalestables').output.Value\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "foreachsalesLTtables",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM @{item().Table_Name}\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "getdbtables",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "blobstorage20201015",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "ifconditionmatches",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "foreachsalesLTtables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(item().Table_Name,'Customer')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Deletefiles",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "deletefilesblob",
														"type": "DatasetReference"
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "getdatabasetables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT QUOTENAME(table_Schema)+'.'+QUOTENAME(TABLE_NAME) AS Table_Name \n   FROM information_Schema.tables",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "getdbtables",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				],
				"folder": {
					"name": "gettablesfromDBwritetoblob"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-14T02:33:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/getdbtables')]",
				"[concat(variables('factoryId'), '/datasets/blobstorage20201015')]",
				"[concat(variables('factoryId'), '/datasets/deletefilesblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/movedatafromblobtodb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This option used to move data from blob to db.",
				"activities": [
					{
						"name": "copydatatodb",
						"description": "This pipeline to load data from Blob to DB. We saving to github.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[Product]\n",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Color",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Color",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StandardCost",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StandardCost",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ListPrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListPrice",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Size",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Size",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Weight",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Weight",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductCategoryID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCategoryID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductModelID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductModelID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SellStartDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SellStartDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SellEndDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SellEndDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "azsourceblobds",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "azdestinationds_20201007",
								"type": "DatasetReference",
								"parameters": {
									"DBTableName": {
										"value": "@pipeline().parameters.DBTableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"InputFileName": {
						"type": "string"
					},
					"DBTableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "copyblobtodb"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-12T02:20:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_c33')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azuredestinationdb",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "SalesLT",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_c33')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sqldb_20201007",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "SalesLT",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobstorage20201015')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2020_10_08",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{item().Table_Name}",
							"type": "Expression"
						},
						"container": "salescontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/deletefilesblob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sourceblobconnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{item().Table_Name}",
							"type": "Expression"
						},
						"container": "salescontainer"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getdbtables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sqldb_20201007",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		}
	]
}